@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*
{
  margin     : 0;
  padding    : 0;
  box-sizing : border-box;
  font-family: 'Poppins', sans-serif;
}

section
{
  position           : relative;
  width              : 100%;
  min-height         : 100vh; /* 1vh = 1% of viewport height. */
  background         : url(images/bg.jpg);
  background-size    : cover; /* Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-position: center;
  display            : flex; /* Displays an element as a block-level flex container. Ref: https://thachpham.com/web-development/html-css/huong-dan-css3-flexbox-toan-tap.html; */
  justify-content    : flex-start; /* The justify-content property aligns the flexible container's items when the items do not use all available space on the main-axis (horizontally). flex-start: Default value. Items are positioned at the beginning of the container */
  align-items        : center;
  padding            : 100;
}

header
{
  position       : absolute;
  top            : 0;
  left           : 0;
  width          : 100%;
  padding        : 30px 100px;
  display        : flex;
  justify-content: space-between;
  align-items    : center;
}

header .logo
{
  position       : relative;
  font-style     : 2em;
  color          : #fff;
  text-transform : uppercase;
  font-weight    : 700;
  text-decoration: none;
  letter-spacing : 1px;
}

header .navigation
{
  position: relative;
  display : flex;
}

header .navigation li
{
  list-style: none;
}

header .navigation li a
{
  display        : inline-block;
  color          : #fff;
  margin-right   : 40px;
  text-decoration: none;
}

header .navigation li a:hover
{
  color: #03a9f4;
}

header .navigation #marker {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  background: #000;
  bottom: -8px;
  transition: 0.5s;
  border-radius: 4px;
}

.content
{
  max-width: 600px;
}

.content .contentBx h2
{
  font-size  : 4em;
  color      : #fff;
  line-height: 1em;
}

.content .contentBx p
{
  font-size : 1.1em;
  color      : #fff;
  font-weight: 300;
  margin     : 20px 0;
}

.content .contentBx a
{
  display        : inline-block;
  padding        : 10px 30px;
  background     : #03a9f4;
  color          : #fff;
  text-decoration: none;
  font-weight    : 500;
  letter-spacing : 1px;
}

.sci
{
  position: absolute;
  bottom  : 30px;
  display : flex;
}

.sci li
{
  list-style     : none;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.sci li a
{
  position    : relative;
  display     : inline-block;
  margin-right: 20px;
  filter      : invert(1);
  transform   : scale(0.5);
}

@media (max-width: 991px)
{
  header {
    padding: 15px 40px;
  }
  section {
    padding            : 40px;
    background         : url(images/bg2.jpg);
    background-size    : cover;
    background-position: center;
  }
  .content .contentBx h2 {
    font-size: 2.5em;
  }
  .content .contentBx p {
    font-size: 1em;
  }
  header .navigation {
    position       : fixed;
    top            : 0;
    left           : 0;
    right          : 0;
    bottom         : 0;
    background     : #000;
    z-index        : 10;
    display        : none;
    justify-content: center;
    align-items    : center;
    flex-direction : column;
  }
  header .navigation.active {
    display: flex
  }
  header .navigation li a {
    font-size: 24px;
    margin   : 10px 0;
  }
  .toggleMenu {
    position           : relative;
    width              : 30px;
    height             : 30px;
    background         : url(images/menu.png);
    background-position: center;
    background-size    : 30px;
    background-repeat  : no-repeat;
    cursor             : pointer;
    z-index            : 11;
  }
  .toggleMenu.active {
    background         : url(images/close.png);
    background-position: center;
    background-size    : 30px;
    background-repeat  : no-repeat;
  }

  header .navigation #marker {
    position: absolute;
    top: 0;
    height: 50px;
    margin-top: -5px;
    background: #2196f3;
    border-radius: 2px;
    transition: 0.5s;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}
